" disable default mappings
let g:EasyMotion_do_mapping = 0

" jump anywhere with s{char}{char}{label}
nmap s <Plug>(easymotion-overwin-f2)

" case insensitive
let g:EasyMotion_smartcase = 1

" line motions
map <Leader>j <Plug>(easymotion-j)
map <Leader>k <Plug>(easymotion-k)
map <Leader>w <Plug>(easymotion-w)
