autocmd BufNewFile,BufRead *.cs setlocal shiftwidth=4
autocmd BufNewFile,BufRead *.cs setlocal softtabstop=4
autocmd BufNewFile,BufRead *.cs setlocal colorcolumn=100
autocmd BufNewFile,BufRead *.cshtml setlocal shiftwidth=4
autocmd BufNewFile,BufRead *.cshtml setlocal softtabstop=4
autocmd BufNewFile,BufRead *.cshtml setlocal colorcolumn=100
