source {{ ansible_env.HOME }}/.config/nvim/plugins.vim
source {{ ansible_env.HOME }}/.config/nvim/base.vim
source {{ ansible_env.HOME }}/.config/nvim/keys.vim

" PLUGIN CUSTOMIZATION

source {{ ansible_env.HOME }}/.config/nvim/config/fzf.vim
source {{ ansible_env.HOME }}/.config/nvim/config/molokai.vim
source {{ ansible_env.HOME }}/.config/nvim/config/nvim-completion-manager.vim
source {{ ansible_env.HOME }}/.config/nvim/config/vim-easy-align.vim
source {{ ansible_env.HOME }}/.config/nvim/config/vim-easymotion.vim
source {{ ansible_env.HOME }}/.config/nvim/config/vim-filebeagle.vim
source {{ ansible_env.HOME }}/.config/nvim/config/vim-grepper.vim

" ENVIRONMENTS

source {{ ansible_env.HOME }}/.config/nvim/env/git.vim
{% if platformio %}
source {{ ansible_env.HOME }}/.config/nvim/env/platformio.vim
{% endif %}
{% if rails %}
source {{ ansible_env.HOME }}/.config/nvim/env/rails.vim
{% endif %}
